@page
@model ClientMaster.Pages.AddClientModel
@{
    ViewData["Title"] = "Add Client";
}

<h1>Add Client</h1>
<label class="pt-1 pb-3" style="color: @Model.MessageColor">@Model.Message</label>

<div class="container">
    <form method="post">
        <div class="row p-1">
            <div class="col-4 w-auto">
                <label asp-for="Client.FirstName">First Name</label>
                <input asp-for="Client.FirstName" />
            </div>
            <div class="col-4 w-auto">
                <label asp-for="Client.LastName">Last Name</label>
                <input asp-for="Client.LastName" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-4">
                <label asp-for="Client.DateOfBirth">Date of Birth</label>
                <input asp-for="Client.DateOfBirth" type="date" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-8">
                <label asp-for="Client.StreetAddressLine1">Street Address Line 1</label>
                <input asp-for="Client.StreetAddressLine1" class="w-50" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-8">
                <label asp-for="Client.StreetAddressLine2">Street Address Line 2</label>
                <input asp-for="Client.StreetAddressLine2" class="w-50" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-3 w-auto">
                <label asp-for="Client.City">City</label>
                <input asp-for="Client.City" />
            </div>
            <div class="col-3 w-auto">
                <label asp-for="Client.State">State</label>
                <select asp-for="Client.State" asp-items="@Model.StateSelectList">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-2 w-auto">
                <label asp-for="Client.Zip">Zip</label>
                <input asp-for="Client.Zip" maxlength="5" size="5" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3"><label>Phone Numbers</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>New</td>
                            <td><input asp-for="AddNumber" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3"><label>Email Addresses</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>New</td>
                            <td><input asp-for="AddEmail" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row p-3 ps-0">
            <div class="col-3 w-auto">
                <label asp-for="Client.ReferringClientID">Referring Client</label>
                <select asp-for="Client.ReferringClientID" asp-items="@Model.ReferrerSelectList">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-3 w-auto">
                <a asp-page="Clients">Cancel</a>
            </div>
            <div class="col-3 w-auto">
                <input value="Add Client" type="submit" class="btn btn-primary" asp-page-handler="AddClient" />
            </div>
        </div>
    </form>
</div>